body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.selector-for-some-widget {
  box-sizing: content-box;
}

.table-bordered thead th{
  background-color: #0d0d0d;
  color: whitesmoke;
}
.table-bordered tbody td{
  background: white;
}
.table-hover tbody tr:hover{
  opacity: 0.6;
  background-color: #0d0d0d;
}
