/*body{
    background-image: url('../../images/background-blue.jpg') ;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
}*//*
<header> 
    <div class="content">
    </div>
</header>*/

/*body{
    background-image: url('../../images/background-blue.jpg');
    background-repeat: no-repeat, repeat;
    background-position: center;
    background-size: cover;
    padding-top: 50px;
    height: 100%;
    width: 100%;
}*/

Form Button{
    width: 100%;
}
